<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="androbarEntities" connectionString="metadata=res://*/Model.AndroBar.csdl|res://*/Model.AndroBar.ssdl|res://*/Model.AndroBar.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=androbar&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>